{% extends "base.html" %}
{% block title %}Alocação de carteira{% endblock %}
{% block content %}
<style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    }

    .styled-table thead tr {
    background-color: #133a3b;
    color: #ffffff;
    text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #133a3b;
    }

    .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    }

    .add-btn {
        background-color: transparent;
        color: #133a3b;
        border: 2px solid #133a3b;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        }

    .add-btn:hover {
        background-color: #0f2d2e;
        border-color: #0f2d2e;
        color: white;
        }
        
</style>
<br>
<h4 style="text-align: right;">{{ today }}</h4>
<h1>Alocação de carteira</h1>
{% if not df.empty %}
    {% for bank in df['Instituição'].unique() %}
        <br>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;">{{ bank }}</th>
                    </tr>
                    <tr>
                        <th>Classe</th>
                        <th>Volume</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {% set df2 = df[df['Instituição'] == bank] %}
                    {% set df3 = df2.groupby('Classe').sum() %}
                    {% for key, value in df3.iterrows() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>R$ {{ value['Valor'] }}</td>
                            <td>{{ "%0.2f" | format(value['Valor']/df2['Valor'].sum() * 100) | float }}</td>
                        </tr>
                    {% endfor %}
                    <tr style="background-color: #d3ffdd;">
                        <td>Total</td>
                        <td>R$ {{ df2['Valor'].sum() }}</td>
                        <td>100%</td>
                    </tr>
                    <br>
                </tbody>
            </table>
        </div>
    {% endfor %}
    <br>
    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">Carteira global</th>
                </tr>
                <tr>
                    <th>Classe</th>
                    <th>Volume</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% set df2 = df.drop(['Instituição'], axis=1) %}
                {% set df3 = df.groupby(['Classe']).sum() %}
                {% for key, value in df3.iterrows() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>R$ {{ value['Valor'] }}</td>
                        <td>{{ "%0.2f" | format(value['Valor']/df3['Valor'].sum() * 100) | float }}</td>
                    </tr>
                {% endfor %}
                <tr style="background-color: #d3ffdd;">
                    <td>Total</td>
                    <td>R$ {{ df3['Valor'].sum() }}</td>
                    <td>100%</td>
                </tr>
                <br>
            </tbody>
        </table>
    </div>
    
    <br>
    <div>
        {{ pie_bank|safe }}
    </div>
    <br>
    <div>
        {{ pie_class|safe }}
    </div>
    <br>
    <div>
        <button class="btn add-btn" onclick="location.href = `/suggestion/${client_id}`;" id="next-pg" type="submit" style="float: right;">Ver sugestão de alocação</button>
    </div>
    <br>
    <br>
{% endif %}
{% endblock %}