{% extends "base.html" %}
{% block title %}Esqueci a senha{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <h1 align="left">Recuperar senha</h1>
    <div class="form-row">
        <div class="col-7">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Insira o e-mail">
        </div>
    </div>
    <br>
    <button type="submit" class="btn custom-btn">Enviar</button>
</form>

{% endblock %}